@model ShapeViewModel<EnglishCompanyModel>

<div>@T["backgroud Image url: {0}", Model.Value.CompanyBackgroundImgUrl]</div>
<div>@T["profile Image url: {0}", Model.Value.CompanyProfileImgUrl]</div>
<div>@T["title: {0}", Model.Value.Title]</div>
<div>@T["subtitle: {0}", Model.Value.SubTitle]</div>