@model ShapeViewModel<EnglishContactModel>

<div>@T["backgroud Image url: {0}", Model.Value.BackgroundImgUrl]</div>
<div>@T["Address: {0}", Model.Value.Address]</div>
<div>@T["Email: {0}", Model.Value.Email]</div>
<div>@T["Number: {0}", Model.Value.Number]</div>